.parentContainer {
    display: flex;
    float: right;
    align-items: flex-start; 
    background-color: white
}
.flexChild {
    float: right;
    background-color: white;
    color: #650000;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.logo {
    padding: 30px;
    float: left;
    background-color: white;
}
.item1 {
    background-color: #F2FFF2; 
    color: #4B4B4B; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px
}
.item2 {
    background-color: #FFF4F4;
    color: #4B4B4B; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px
}
.item3 {
    background-color: #E6FAFF;
    color: #4B4B4B; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px
}
.item4 {
    background: #E5E5E5;
    color: #4B4B4B; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px
}
.PetP {
    position: relative;
    right: -100px;
    top: -820px;
    color: #4B4B4B;
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 700px;
    padding-right: 200px;
}
.petH1 {
    position: relative;
    right: -350px;
    top: -750px; 
    text-align: center;
    color: #4B4B4B; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.Pet {
    position: relative;
    right: -350px;
    top: -800px; 
    text-align: center;
    color: #000000; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: normal;
}
.PetImg {
    padding-left: 10px;
    padding-top: 100px;
}
.Products {
    padding-left: 10px;
    padding-top: 150px;
}
.PetProduct {
    padding-left: 10px;
    padding-top: 50px;
}
.PetImg:hover {
    transform: scale(1.1);
}
.Products:hover {
    transform: scale(1.1);
}
.PetProduct:hover {
    transform: scale(1.1);
}
.PetB {
    position: relative;
    right: -1110px;
    top: -750px; 
    background-color: #4B4B4B;
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.PetB:hover {
    background-color: #9F9A9A; 
}
.RestoreP {
    position: relative;
    right: -200px;
    top: -850px;
    color: #4B4B4B;
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 700px;
    padding-right: 200px;
}
.restoreH1 {
    position: relative;
    right: -450px;
    top: -700px; 
    text-align: center;
    color: #4B4B4B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.restore {
    position: relative;
    right: -450px;
    top: -800px; 
    text-align: center;
    color: #009A4D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight: normal;
}
.RestoreImg {
    position: relative;
    padding-left: 20px;
    padding-top: 200px;
    padding-right: 10px;
}
.Restore1 {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}
.Restore3 {
    padding-left: 10px;
    padding-right: 10px;
}
.RestoreImg:hover {
    transform: scale(1.1);
}
.Restore1:hover {
    transform: scale(1.1);
}
.Restore3:hover {
    transform: scale(1.1);
}
.RestoreB {
    position: relative;
    right: -1210px;
    top: -800px; 
    background-color: #4B4B4B;
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.RestoreB:hover {
    background-color: #9F9A9A;
}
.SecretP {
    position: relative;
    right: -150px;
    top: -900px;
    color: #4B4B4B;
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 700px;
    padding-right: 200px;
}
.secretH1{
    position: relative;
    right: -400px;
    top: -825px; 
    text-align: center;
    color: #4B4B4B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.Secret {
    position: relative;
    right: -390px; 
    top: -875px;
    color: #000000; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: normal;
}
.SecretImg {
    padding-left: 30px;
    padding-top: 100px;
}
.SecretImg:hover {
    transform: scale(1.1);
}
.Secret2 {
    padding-left: 20px;
}
.Secret2:hover {
    transform: scale(1.1);
}
.SecretB {
    position: relative;
    right: -1150px;
    top: -850px; 
    background-color: #4B4B4B;
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.SecretB:hover {
    background-color: #9F9A9A;
}
.Troopp {
    position: relative;
    right: -200px;
    top: -450px;
    color: #4B4B4B;
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 700px;
    padding-right: 200px;
}
.TroopH1{
    position: relative;
    right: -450px;
    top: -375px; 
    text-align: center;
    color: #4B4B4B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.Troop {
    position: relative;
    right: -450px;
    top: -435px; 
    color: #FF93B4; 
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.TroopImg {
    padding-left: 20px;
    padding-top: 100px;
}
.TroopImg:hover {
    transform: scale(1.1);
}
.Troop2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 200px;
}
.Troop2:hover {
    transform: scale(1.1);
}
.Troop3:hover {
    transform: scale(1.1);
}
.TroopB {
    position: relative;
    right: -1200px;
    top: -400px; 
    background-color: #4B4B4B;
    color: white;
    border-radius: 50px; 
    font-size: 18px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TroopB:hover {
    background-color: #9F9A9A;
}
.Email {
    position: relative;
    text-align: center;
    background-color: white; 
    border-color: #707070;
    border-width: thin;
    color: #4B4B4B;
    width: 150px;
    padding: 20px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
}
.Email:hover {
    box-shadow: 2px 2px #707070;
}
.Dribble {
    position: relative;
    background-color: white; 
    border-color: #707070;
    border-width: thin;
    color: #4B4B4B;
    width: 150px;
    padding: 20px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}
.Dribble:hover {
    box-shadow: 2px 2px #707070;
}
H1 {
    color: #650000; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Linkedin {
    position: relative;
    background-color: white; 
    border-color: #707070;
    border-width: thin;
    color: #4B4B4B;
    width: 150px;
    padding: 20px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}
.Linkedin:hover {
    box-shadow: 2px 2px #707070;
}
.row {
    text-align: center;
    position: relative;
}
H4 {
    text-align: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
@media only screen and (max-width: 600) {
    body {
        background-color: #FFF6E8;
    }
    .SecretImg {
        display: none;
    }
    .Troop2 {
        display: none;
    }
    .Troop3 {
        display: none;
    }
    .Restore1 {
        display: none;
    }
    .Restore3 {
        display: none;
    }
    .PetImg {
        display: none;
    }
    .Products {
        display: none;
    }
}